
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    height: 100vh;
    display: grid;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #1C1F26;
    
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }


.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #1C1F26;
    color: #D1D5DB;
}

.add-book-button{
    display: grid;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 10%;
    background-color: #61AFEF;
    color: #1C1F26;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-book-dialog{
    display: absolute;
    top: 60%;
    left: 30%;
    width: 40%;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.book-read-status{
    width: 30%;
}

.book-pages{
    width: 30%;
}

form button{
    color: #1C1F26;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    margin: 5px;
    border-radius: 10%;
    padding: 5px;
    margin-top: 10px;
}

.title-container{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.library-header{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #2f394d;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.library-title{
    color: #E0E0E0;
}

table{
    margin-top: 10px;
    background-color: #5a7954;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #0e3511;
    border: 1px solid black;
}

td{

    border: 1px solid black;
    text-align: center;
    
    
}

.left-sidebar{
    display: grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #2f394d;
}

.right-sidebar{
    display: grid;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background-color: #2f394d;
}

.footer{
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    background-color: #2f394d;
    
}

button:hover {
    background-color: #98C379;
    color: #1C1F26;
}

.delete-button{
    display: inline-flex;
    border: none;
    border-radius: 10%;
    background-color: #61AFEF;
    color: #1C1F26;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center;
    font-size: 0.9rem;
    
}



.toggle-button{
    display: inline-flex;
    border: none;
    border-radius: 10%;
    background-color: #61AFEF;
    color: #1C1F26;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9rem;
    justify-content: center;

}

